In [10]:
# 오늘기준으로 1년치 주가 csv 파일로 로컬에 저장

import yfinance as yf
from datetime import datetime, timedelta
datetime.now().date()
df = yf.download('005930.KS',datetime.now().date()-timedelta(365),datetime.now().date())
df.to_csv('삼성전자.csv')

[*********************100%%**********************]  1 of 1 completed

In [9]:

from datetime import datetime, timedelta
datetime.now().date()-timedelta(365)

datetime.date(2022, 8, 26)

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import (
    functions as f,
    Row,
    SparkSession,
    types as t
)

from pyspark.sql.functions import col, asc, desc

In [3]:

# Create SparkSession 
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("SparkByExamples.com") \
      .getOrCreate()

In [4]:
csv_file_path = "삼성전자.csv"
df = spark.read.option("header","true") \
    .option("inferSchema","true") \
    .csv(csv_file_path)

In [5]:
data = df.filter(df.Date>='2023-01-01')
data.show()

+----------+-------+-------+-------+-------+--------------+--------+
|      Date|   Open|   High|    Low|  Close|     Adj Close|  Volume|
+----------+-------+-------+-------+-------+--------------+--------+
|2023-01-02|55500.0|56100.0|55200.0|55500.0|  54906.453125|10031448|
|2023-01-03|55400.0|56000.0|54500.0|55400.0|54807.51953125|13547030|
|2023-01-04|55700.0|58000.0|55600.0|57800.0| 57181.8515625|20188071|
|2023-01-05|58200.0|58800.0|57600.0|58200.0|57577.57421875|15682826|
|2023-01-06|58300.0|59400.0|57900.0|59000.0|58369.01953125|17334989|
|2023-01-09|59700.0|60700.0|59600.0|60700.0| 60050.8359375|18640107|
|2023-01-10|60200.0|61100.0|59900.0|60400.0|  59754.046875|14859797|
|2023-01-11|61000.0|61200.0|60300.0|60500.0|59852.98046875|12310751|
|2023-01-12|61100.0|61200.0|59900.0|60500.0|59852.98046875|16102561|
|2023-01-13|60500.0|61200.0|60400.0|60800.0|60149.76953125|12510328|
|2023-01-16|61300.0|61600.0|60800.0|61100.0|    60446.5625|10039972|
|2023-01-17|61200.0|61500.0|60600.0|61000.0|60347.62890625| 9831456|
|2023-01-18|60700.0|61000.0|59900.0|60400.0|  59754.046875|11584041|
|2023-01-19|60500.0|61500.0|60400.0|61500.0|60842.28515625|12808490|
|2023-01-20|62100.0|62300.0|61100.0|61800.0|61139.07421875| 9646327|
|2023-01-25|63500.0|63700.0|63000.0|63300.0|   62623.03125|   39217|
|2023-01-26|63800.0|63900.0|63300.0|63800.0|    63117.6875|   54188|
|2023-01-27|64400.0|65000.0|63900.0|64600.0|63909.12890625|   44282|
|2023-01-30|64900.0|64900.0|63100.0|63300.0|   62623.03125|   59628|
|2023-01-31|63500.0|63700.0|61000.0|61400.0|60743.35546875|  163847|
+----------+-------+-------+-------+-------+--------------+--------+
only showing top 20 rows

In [6]:


expect_data = data.withColumn("expect",f.col("Close")).select("Date","Close","expect")
    
expect_data.show()

+----------+-------+-------+
|      Date|  Close| expect|
+----------+-------+-------+
|2023-01-02|55500.0|55500.0|
|2023-01-03|55400.0|55400.0|
|2023-01-04|57800.0|57800.0|
|2023-01-05|58200.0|58200.0|
|2023-01-06|59000.0|59000.0|
|2023-01-09|60700.0|60700.0|
|2023-01-10|60400.0|60400.0|
|2023-01-11|60500.0|60500.0|
|2023-01-12|60500.0|60500.0|
|2023-01-13|60800.0|60800.0|
|2023-01-16|61100.0|61100.0|
|2023-01-17|61000.0|61000.0|
|2023-01-18|60400.0|60400.0|
|2023-01-19|61500.0|61500.0|
|2023-01-20|61800.0|61800.0|
|2023-01-25|63300.0|63300.0|
|2023-01-26|63800.0|63800.0|
|2023-01-27|64600.0|64600.0|
|2023-01-30|63300.0|63300.0|
|2023-01-31|61400.0|61400.0|
+----------+-------+-------+
only showing top 20 rows

In [150]:
# # ROW 추가
# columns = ["Date", "Close", "expect"]

# new_row = spark.createDataFrame([('2023-08-25', 68200.0, 68200.0)], columns)
# expect_data = expect_data.union(new_row)
# expect_data.show()

+----------+-------+-------+
|      Date|  Close| expect|
+----------+-------+-------+
|2023-01-02|55500.0|55500.0|
|2023-01-03|55400.0|55400.0|
|2023-01-04|57800.0|57800.0|
|2023-01-05|58200.0|58200.0|
|2023-01-06|59000.0|59000.0|
|2023-01-09|60700.0|60700.0|
|2023-01-10|60400.0|60400.0|
|2023-01-11|60500.0|60500.0|
|2023-01-12|60500.0|60500.0|
|2023-01-13|60800.0|60800.0|
|2023-01-16|61100.0|61100.0|
|2023-01-17|61000.0|61000.0|
|2023-01-18|60400.0|60400.0|
|2023-01-19|61500.0|61500.0|
|2023-01-20|61800.0|61800.0|
|2023-01-25|63300.0|63300.0|
|2023-01-26|63800.0|63800.0|
|2023-01-27|64600.0|64600.0|
|2023-01-30|63300.0|63300.0|
|2023-01-31|61400.0|61400.0|
+----------+-------+-------+
only showing top 20 rows

In [7]:
# 마지막 날짜를 일수로 변환
from pyspark.sql.functions import date_add, date_sub, col

today = expect_data.select(f.dayofyear('Date')).tail(1)[0][0]
print(today)
# f.dayofyear(expect_data.tail(1)[0][0]).show()
# f.dayofyear(expect_data.tail(1)[0][0]).show()

# lastday = int(expect_data.tail(1)[0][0].split("-")[2])
# print(lastday+1)

# dateDF.select(date_sub(col("today"), 5), date_add(col("today"), 5)).show(1)
expect_data.select(date_add(col("Date"),today)).show()

236
+-------------------+
|date_add(Date, 236)|
+-------------------+
|         2023-08-26|
|         2023-08-27|
|         2023-08-28|
|         2023-08-29|
|         2023-08-30|
|         2023-09-02|
|         2023-09-03|
|         2023-09-04|
|         2023-09-05|
|         2023-09-06|
|         2023-09-09|
|         2023-09-10|
|         2023-09-11|
|         2023-09-12|
|         2023-09-13|
|         2023-09-18|
|         2023-09-19|
|         2023-09-20|
|         2023-09-23|
|         2023-09-24|
+-------------------+
only showing top 20 rows

In [157]:
# 180 기간동안의 예측 데이터
import pandas as pd
from pyspark.sql.functions import current_date, current_timestamp
from datetime import datetime, timedelta

now = datetime.now()

print("현재 날짜 : ", datetime.now().date()+timedelta(days=1))

datelist = []

for x in range(180) :
    datelist.append(datetime.now().date()+timedelta(days=x))
df = pd.DataFrame({'Date': datelist})
print(df)
# print(datelist)

# afterDF = spark.createDataFrame(datelist,'date')

# afterDF.rename(columns={'value':'Date'})
# afterDF.show()

현재 날짜 :  2023-08-27
           Date
0    2023-08-26
1    2023-08-27
2    2023-08-28
3    2023-08-29
4    2023-08-30
..          ...
175  2024-02-17
176  2024-02-18
177  2024-02-19
178  2024-02-20
179  2024-02-21

[180 rows x 1 columns]